[mysqldump]

[mysql]

[mysqld]
binlog-ignore-db=test
replicate-ignore-db=test
#replicate-ignore-db='db1 db2'
server-id = 2

datadir=/db
socket=/tmp/mysql.sock

#userstat_running=1
userstat=1


ft_min_word_len=3
#safe-show-database
skip-name-resolve

max_connections=2000
max_connect_errors=100
connect_timeout=40
interactive_timeout=80
wait_timeout=40
delayed_insert_timeout=40

join_buffer_size=4M

table_cache=2048
key_buffer=1792M
max_allowed_packet=32M

myisam_sort_buffer_size=4M
sort_buffer_size=4M

read_buffer_size=4M
read_rnd_buffer_size=8M

thread_cache_size=768
thread_concurrency = 24

query_cache_size=2097152000
query_cache_limit=128M
query_cache_type=1

tmp_table_size=1024M
max_tmp_tables=40
long_query_time=5
slow-query-log-file  = /var/log/mysql/slow.log
slow_query_log=1

relay-log = /var/log/mysql/relay.log
relay-log-index = /var/log/mysql/relay.index
log_err = /var/log/mysql/error.log
log_bin = /var/log/mysql/binary.log
log_bin_trust_function_creators = 1

innodb-file-per-table=1
# use this variable for InnoDB recovery
# innodb_force_recovery = 4

character-set-server=utf8
collation-server=utf8_unicode_ci
skip-character-set-client-handshake

skip-external-locking
